<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <h3 class="text-center"><%= title %></h3>
      </div>
      <div class="col-12 col-sm-6">
        <h3 class="text-center"><%= post_number == 1 ? post_number.to_s + ' Post' : post_number.to_s + ' Posts' %></h3>
      </div>
    </div>
  </div>
</footer>