<% if posts.count != 0 %>
  <div class="row post-listings-main-row">
    <%= render "summary_index", { posts: posts }%>
    <%= render "summaries", { posts: posts }%>
  </div>
  <br>
  <br>
<% else %>
  <h2 class="text-center">Sorry no posts available :(</h2>
<% end %>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-6">
        <h3 class="text-left"><%= title %></h3>
      </div>
      <div class="col-6 col-sm-6">
        <h3 class="text-right"><%= posts.count == 1 ? posts.count.to_s + ' Post' : posts.count.to_s + ' Posts' %></h3>
      </div>
    </div>
  </div>

</footer>

<script>
  $(document).ready(function() {

    /* Setup Scrollspy for Post Summary Page */
    $(".list-group-item-action").each(function() {
      this.onclick = function() {
        const $activeLi = $('.list-group-item-action.active').first();
        if($activeLi !== null) $activeLi.removeClass("active");
        this.classList.add("active");

        const $postSummary = $("#" + this.dataset.target);
        $('.card.selected-border').first().removeClass("selected-border");
        $postSummary.addClass("selected-border");

        $('html, body').animate({
          scrollTop: $postSummary.offset().top - 70
        }, 1000);
      }  
    });
  });
</script>
