<div class="col-xs-12 col-sm-3">
    <nav id="scrollspy-navbar" class="navbar navbar-light bg-light">
      <a class="navbar-brand">Post Listings</a>
      <nav class="nav nav-pills flex-column">
        <% posts.each do |post| %>
          <a class="nav-link" href="#card<%= post.id %>"><%= post.title %></a>
        <% end %>
      </nav>
    </nav>
    <br>
  </div>