<div class="col-xs-12 col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Post Listings</h5>
        <hr>
        <p class="card-text">
          <ul>
            <% posts.each do |post| %>
              <li><%= post.title %></li>
            <% end %>
          </ul>
        </p>
      </div>
    </div>
    <br>
  </div>