<p id="notice"><%= notice %></p>

<h1 class="text-center"><%= @author.name %>'s Posts</h1>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-xs-12 col-sm-10 offset-sm-1">
      <%= render "summary", { post: post } %>
    </div>
  </div>
<% end %>
