/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Material-UI Styles for Bootstrap
@import "material";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$duke-blue: #235F9C;
$app-background: #E5E5E5;
$text-white: #fff;

.application-container { 
    padding-top: 50px;
}

.application-navbar {
    background-color: $duke-blue;
    color: $text-white;
}

body {
    background-color: $app-background;
}

.edit-tags {
    color: black !important;
}

.edit-tags:hover {
    cursor: pointer;
}

.edit-tag-card-header {
    padding-top: 7px !important;
    padding-bottom: 0 !important;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: $duke-blue;
    color: $text-white;
    padding-top:15px;
}

.footer .container {
    padding-left: -20px !important;
    padding-right: 0px !important;
    margin-left: 15px !important;
    margin-right: -10px !important;
}

.post-listing-jumbotron {
    padding-top: 20px !important;
    padding-bottom: 35px !important;
    position: sticky;
    z-index: 0;
    top: 70px;
}

.post-listing-jumbotron a {
    cursor: pointer;
}

.tag-badge {
    font-size: 1.4em;
    margin-top: 4px;
    margin-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.remove-tag {
    font-size: 15px;
    color: $text-white !important;
    cursor: pointer;
    padding-right: 0.4em;
    padding-left: 0.4em;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.remove-tag:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12));
}

.summary-tags-link {
    color: #9c27b0 !important;
    cursor: pointer;
}