<nav class="navbar fixed-top navbar-expand-lg application-navbar justify-content-between">
    
    <a class='navbar-brand' href="#">The Bit Banging Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class='nav-link' href="#">All Posts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Posts By Writer
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class='dropdown-item' href="#">Aman Ibrahim</a>
            <a class="dropdown-item" href="#">Simran Singh</a>
            <a class="dropdown-item" href="#">Walker Willetts</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Posts By Topic
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class='dropdown-item' href="#">Complexity Theory</a>
            <a class="dropdown-item" href="#">Clean Code</a>
            <a class="dropdown-item" href="#">Something Else</a>
          </div>
        </li>
        
      </ul>

      <div>
        <a class="btn btn-info">Author Login</a>
      </div>
    </div>
</nav>