<div class="modal fade" id="editTagModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="modalBody" class="modal-body">
        <% if @tags.count == 0 %>
          <h2 class="text-center">No Tags Available</h2>
        <% else %>
          <%= render "layouts/edit_tags_accordion", { tags: @tags }%>
        <% end %>
      </div>
    </div>
  </div>
</div>